<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSz4UXBUSlIqJoWEZLH8Nw368WaEe2E-k</string>
	<key>GCM_SENDER_ID</key>
	<string>910338667484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>reminderappdatabase-e5e8a</string>
	<key>STORAGE_BUCKET</key>
	<string>reminderappdatabase-e5e8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910338667484:ios:336b905cc5b7e9d42dd519</string>
</dict>
</plist>